.btn {
    max-height: 40px;
    padding: 10px 16px;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 999rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    border: 1px var(--bg-color);
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.btn:hover{
    background-color: #4952b4;
}

@media (max-width: 1023px) {
  .btn {
    width: 100%;
    margin-top: 20px;
    justify-content: center;
  }
}